.hero {
  @apply text-slate-100;
  background-image: url("../../../assets/img/hero-bg.svg");
  height: 95vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.heroContainer {
  @apply flex flex-col xl:flex-row justify-center xl:justify-between items-center h-full pt-32 ;

}
.heroText {
  @apply text-center xl:text-left xl:w-1/2 pb-10;
}
.heroText h1 {
  @apply grid text-4xl md:text-5xl font-bold leading-snug text-white;
}
.heroText p {
  @apply text-base font-medium mt-3 mb-10 md:w-4/5 xl:w-11/12 mx-auto xl:mx-0;
  color: #d2cece;
}
.heroImg {
  @apply flex justify-end items-center;
}
.heroImg svg {
  @apply h-fit;
  width: 95%;
}
.poweredby {
  @apply flex justify-start items-center pt-10;
}
.poweredby svg {
  @apply ml-2;
}